<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Top Bar</title>
    <link rel="stylesheet" href="header.component.css" />

  </head>
  <body>
    <div class="top-bar">
      <div class="container">
        <div class="logo-search">
          <div class="logo">
            <img class="wellmed" src="assets/images/header/logo.svg" alt="Wellmed Logo" />
            <img class="img" src="assets/images/header/namelogo.svg" alt="Logo Text" />
          </div>
        </div>
        <div class="profile-section">
          <div class="icons">
            <div class="icon-frame">
              <img class="img-2" src="assets/images/header/Help.svg" alt="Help Icon" />
            </div>
            <div class="icon-frame">
              <img class="img-2" src="assets/images/header/Notification.svg" alt="Notification Icon" />
            </div>
            <img class="photo-profile" src="assets/images/header/profilepicture.png" alt="Profile Photo" />
            <div class="nom-profile">
              <div class="profile-info">
                <div class="name">{{ user?.first_name }}{{ user?.last_name }}</div>
                <div class="email">{{user?.email}}</div>
              </div>
              <div class="logout-wrapper">
                <div class="logout" (click)="logOut()">
                  <img class="vuesax-linear-logout" src="assets/images/menu/logout.svg" />
                  <div class="text-wrapper">Log out</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </body>
</html>
