
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Top Bar</title>
    
    <link rel="stylesheet" href="header.component.css" />
  </head>
  <body>
    <div class="top-bar">
      <div class="container">
        <div class="logo-search">

          
        <div class="logo">
          <img class="wellmed" src="assets/images/header/logo.svg" alt="Wellmed Logo" /> 
          <img class="img" src="assets/images/header/namelogo.svg" alt="Logo Text" />
        </div>
      <!--  <div class="search-profile">
          <div class="search-input">
            <i class="img-2 fas fa-search"></i> 

            <div class="text-wrapper">Search...</div>
          </div>
        </div>-->
         <div class="search-profile">
            <div class="sarch-input">
                <img class="io-search" src="assets/images/header/IoSearch.svg" />
                <div class="text-wrapper">Search....</div>
            </div>
            </div>

       </div>

       <div class="profile-section">
          <div class="icons">
           <div class="icon-frame"> <img class="img-2" src="assets/images/header/Help.svg" alt="Profile Photo" />
           </div>
           <div class="icon-frame"> <img class="img-2" src="assets/images/header/Notification.svg" alt="Profile Photo" />
           </div>
           <img class="photo-profile" [src]="userProfile.profilePhoto" alt="Profile Photo" />
           <div class="nom-profile">
                <div class="profile-info">
                    <div class="name">{{userProfile.name}}</div>
                    <div class="email">{{userProfile.email}} </div>
                </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
