<div class="table-container">
    <div class="btn-container">
        <button class="ajouter-btn" (click)="ajouterExamen()">Ajouter un examen</button>
    </div>
    <div class="wrapper">
        <div class="button-container">
            <div class="titreOrdoannace">
                Bilan Radiologique
            </div>
            <i id="edit" class="fas fa-edit" (click)="toggleEditMode()"></i>
        </div>
        <div class="field">
            <label>Radiologue :</label>
            <input type="text" [value]="bilanRadiologique?.radiologueId" readonly />
        </div>
        <div class="field">
            <label>Date :</label>
            <input type="text" [value]="bilanRadiologique?.date | date" readonly />
        </div>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID Examen</th>
                <th>Type</th>
                <th>Image</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let exe of examens">
                <td>{{exe.id }}</td>
                <td>{{ exe.type}}</td>
                <td>{{ exe.images }}</td>
                <td>{{ exe.description }}</td>
                <td>
                    <div class="eye">
                        <i class="fas fa-edit" (click)="modifierExamen(exe)" title="Modifier"></i>
                        <i id="delete" class="fas fa-trash-alt" (click)="supprimerExamen(exe.id)" title="Supprimer"></i>
                    </div>
                </td>

            </tr>
        </tbody>
    </table>

</div>

<div class="overlay" *ngIf="editMode">
    <div class="form-container">
        <div class="content">
            <div class="field">
                <label>Radiologue :</label>
                <input type="text" [(ngModel)]="temp.radiologueId" />
            </div>
            <div class="field">
                <label>Date :</label>
                <input type="text" [(ngModel)]="temp.date" />
            </div>
        </div>
        <div class="butSaveCancel">
            <button id="cancel" (click)="cancelEdit()">Cancel</button>
            <button (click)="saveChanges()">Save</button>
        </div>
    </div>
</div>

<div class="overlay" *ngIf="editExamenMode">
    <div class="form-container">

        <div class="field">
            <label>Type :</label>
            <input type="text" [(ngModel)]="selectedExamen.type" />
        </div>
        <div class="field">
            <label>Images :</label>
            <input type="text" [(ngModel)]="selectedExamen.images" />
        </div>
        <div class="field">
            <label>Description :</label>
            <textarea [(ngModel)]="selectedExamen.description"></textarea>
        </div>
        <div class="butSaveCancel">
            <button id="cancel" (click)="cancelExamenEdit()">Cancel</button>
            <button (click)="saveExamenChanges()">Save</button>
        </div>
    </div>


</div>