<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Numéro de Sécurité Sociale</th>
                <th>Date de Naissance</th>
                <th>Adresse</th>
                <th>Téléphone</th>
                <th>Mutuelle</th>
                <th>Hôpital</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let biologiste of biologistes">
                <td>{{ biologiste.id }}</td>
                <td>{{ biologiste.role }}</td>
                <td>{{ biologiste.nss }}</td>
                <td>{{ biologiste.dateDeNaissance | date:'dd/MM/yyyy' }}</td>
                <td>{{ biologiste.adresse }}</td>
                <td>{{ biologiste.telephone }}</td>
                <td>{{ biologiste.mutuelle }}</td>
                <td>{{ biologiste.hopital }}</td>
                <td class="actions-cell">
                    <i class="fas fa-edit" (click)="editbiologiste(biologiste.id)"></i>
                    <i id="delete" class="fas fa-trash" (click)="deletebiologiste(biologiste.id)"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>