.table-container {
    margin-top: 20px;
    overflow-x: auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;

}
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
    transition: background-color 0.3s ease;
}

.table th {
    background-color: var(--colorVert1);
    color: #fff;
    font-weight: bold;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #f1f1f1;
}



.eye-cell i {
    cursor: pointer;
    font-size: 1.2rem;
    color: #6A727A;
    transition: color 0.3s ease, transform 0.3s ease;
}

.eye-cell i:hover {
    color: var(--colorVert1);
    transform: scale(1.2);
}

.actions-cell i {
    cursor: pointer;
    font-size: 1.2rem;
    color: #6A727A;
    margin-right: 15px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.actions-cell i:last-child {
    margin-right: 0;
}

.actions-cell i:hover {
    color: var(--colorVert1);
    transform: scale(1.2);
}

#delete:hover {
    color: red;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
}


.ajouter-btn {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: transparent;
    color: var(--colorVert1);
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #05685E;
}

.ajouter-btn:hover {
    background-color: var(--colorVert3);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: #FFFFFF;

}

.field label {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #464748;
}

.nom-prenom,
.tel-email,
.date-naissance-adresse,
.mutuelle-hospital {
    display: flex;
    gap: 20px;
}

.nom-prenom .field,
.tel-email .field,
.date-naissance-adresse .field,.mutuelle-nss .field,
.mutuelle-hospital .field {
    flex: 1;
}

@media (max-width: 768px) {

    .nom-prenom,
    .tel-email,
    .date-naissance-adresse,
    .mutuelle-hospital {
        flex-direction: column;
    }
}

.field input {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #86929E;
    background: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    border: 0.5px solid #EFF0F2;
}

.butSaveCancel {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
}

.butSaveCancel button {
    background-color: var(--colorVert1);
    color: white;
    text-align: center;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 28px;
    gap: 10px;
    width: 100px;
    height: 40px;
}

#cancel {
    background-color: white;
    color: var(--colorVert1);
    border: 1px solid #EFF0F2;
}

.personnesListe {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #86929E;
  background: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  border: 0.5px solid #EFF0F2;
}


.personnesListe li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0;
  align-items: center;
  margin-bottom: 10px;
}

.addContact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0;
  align-items: center;
  margin-bottom: 10px;
}

.personnesListe input {
  display: flex;
}

.icon-add {
  font-size: 18px;
  color: var(--colorNavTex);
  cursor: pointer;
  margin-top: 5px;
  display: inline-block;
}
.search-wrapper {
display: flex;
flex-wrap: wrap;
gap: 15px;
margin-bottom: 20px;
}

.search-wrapper input {
padding: 8px;
font-size: 14px;
border: 1px solid #ccc;
border-radius: 5px;
width: 200px;
}

/* Conteneur de la recherche */
.search-wrapper {
display: flex;
flex-direction: row;
flex-wrap: wrap;  /* Permet aux champs de passer à la ligne suivante */

gap: 10px;  /* Espacement entre les champs */
max-width: 100%;  /* Largeur maximale des champs */
margin: 0 auto;  /* Centrer les champs */
}

/* Style général pour les champs de recherche */
.search-wrapper input {
padding: 10px;
border: 2px solid #00796b;  /* Bordure couleur vert clair */
border-radius: 50px;  /* Bords arrondis */
font-size: 16px;  /* Taille du texte */
background-color: #f1f8f6;  /* Fond léger */
flex: 1 1 20%;  /* Chaque champ occupe environ 30% de la largeur */

transition: all 0.3s ease;  /* Effet de transition lors du focus */
}

/* Focus sur les champs */
.search-wrapper input:focus {
border-color: #004d40;  /* Bordure plus foncée au focus */
background-color: #e0f2f1;  /* Fond plus foncé au focus */
outline: none;  /* Retirer le contour par défaut */
}

/* Style du placeholder */
.search-wrapper input::placeholder {
color: #00796b;  /* Couleur du texte du placeholder */
font-style: italic;  /* Style en italique */
}

/* Effet de survol sur les champs */
.search-wrapper input:hover {
border-color: #004d40;  /* Bordure plus foncée au survol */
}
