<html>
  <head>
    <meta charset="utf-8" />
   
    <link rel="stylesheet" href="patient-dpi.component.css" />
  </head>
  <body>
    <div class="frame">
      <div class="div-wrapper">
        <p class="text-wrapper">Dossier Patient Belimane Rahma ouissale</p>
      </div>
    </div>
    <nav class="navbar">
        <ul class="nav-list">
          <!--<li><a (click)="selectSection('soins')" [class.active]="selectedSection === 'soins'" href="#" >Soins</a></li>
          <li><a (click)="selectSection('bilans')" [class.active]="selectedSection === 'bilans'">Bilans</a></li>
          <li><a (click)="selectSection('examens')" [class.active]="selectedSection === 'examens'">Examens</a></li>-->
          <li><a  (click)="selectSection('antecedents')" [class.active]="selectedSection === 'antecedents'">Antécédents</a></li>
          <li><a  (click)="selectSection('consultation')" [class.active]="selectedSection === 'consultation'">consultation</a></li>
       
        </ul>
        <div></div>
        <div></div>

      </nav>
      
      <div class="content">
       
        <app-antecedent *ngIf="selectedSection === 'antecedents'" > </app-antecedent>
        <app-consultation *ngIf="selectedSection === 'consultation'" > </app-consultation>

    
    </div>
      
  </body>
</html>

