
<!--
<div class="wrapper">
    <div class="button-container">
        <i class="fas fa-edit" (click)="editMode = !editMode"></i>
    </div>
    <div class="nom-prenom">
        <div class="field">
            <label>Nom</label>
            <input type="text" [value]="user.last_name" readonly />
        </div>
        <div class="field">
            <label>Prénom</label>
            <input type="text" [value]="user.first_name" readonly />
        </div>
    </div>

    <div class="tel-email">
        <div class="field">
            <label>Téléphone</label>
            <input type="text" [value]="user.telephone" readonly />
        </div>
        <div class="field">
            <label>Email</label>
            <input type="email" [value]="user.email" readonly />
        </div>
    </div>

    <div class="date-naissance-adresse">
        <div class="field">
            <label>Date de naissance</label>
            <input type="text" [value]="user.date_de_naissance" readonly />
        </div>
        <div class="field">
            <label>Adresse</label>
            <input type="text" [value]="user.adresse" readonly />
        </div>
    </div>

    <div class="mutuelle-hospital">
        <div class="field">
            <label>Mutuelle</label>
            <input type="text" [value]="user.mutuelle" readonly />
        </div>
        <div class="field">
            <label>NSS</label>
            <input type="text" [value]="user.nss" readonly />
        </div>
    </div>
</div>

<div class="overlay" *ngIf="editMode">
    <div class="form-container">
        <div class="nom-prenom">
            <div class="field">
                <label>Nom</label>
                <input type="text" [(ngModel)]="tempProfileData.nom" />
            </div>
            <div class="field">
                <label>Prénom</label>
                <input type="text" [(ngModel)]="tempProfileData.prenom" />
            </div>
        </div>

        <div class="tel-email">
            <div class="field">
                <label>Téléphone</label>
                <input type="text" [(ngModel)]="tempProfileData.telephone" />
            </div>
            <div class="field">
                <label>Email</label>
                <input type="email" [(ngModel)]="tempProfileData.email" />
            </div>
        </div>

        <div class="date-naissance-adresse">
            <div class="field">
                <label>Date de naissance</label>
                <input type="text" [(ngModel)]="tempProfileData.dateDeNaissance" />
            </div>
            <div class="field">
                <label>Adresse</label>
                <input type="text" [(ngModel)]="tempProfileData.adresse" />
            </div>
        </div>

        <div class="mutuelle-hospital" *ngIf="tempProfileData instanceof Medecin">
            <div class="field">
                <label>Mutuelle</label>
                <input type="text" [(ngModel)]="tempProfileData.mutuelle" />
            </div>
            <div class="field">
                <label>NSS</label>
                <input type="text" [(ngModel)]="tempProfileData.nss" />
            </div>
        </div>
        <div class="butSaveCancel">
            <button id="cancel" (click)="cancelEdit()">Cancel</button>

            <button (click)="saveChanges()">Save</button>
        </div>
    </div>
</div>
-->