
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Afficher un Mot</title>
    <link rel="stylesheet" href="./homepage.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>
<body>

<div class="cadre">
<div class="cadrelogo">

  <img src="images\WellMed (5) 1.png"  >
  <img src="images\WellMed (5) 1 (1).png"  >


</div>
<div class="menu1">
  <div class="insidemenu1">
    Home
    <div class="khat">
    </div>
  </div>
  <div class="insidemenu11">
    Service
  </div>
  <div class="insidemenu11">
    Contact Us
  </div>
  <div class="insidemenu11">
    Help
  </div>

</div>

</div>

<div class="signup">
  Signup
</div>
<div class="login">
<div class="loginn">
Login
</div>
</div>

<div class="ec1">
  Providing Quality Healthcare for a Brighter and Healthy Future
</div>
<div class="ec2">

  At our hospital, we are dedicated to providing exceptional medical care to our patients and their families. Our experienced team of medical professionals, cutting-edge technology, and compassionate approach make us a leader in the healthcare industry
</div>
<div class="doctor">
  <img src="images\image 481.png"  >

</div>
<div class="forme">
  <img src="images\Vector.png"  >

</div>
<div class="petite">
  <img src="images\Frame 1000000817.png"  >

</div>




<div class="container1">
<div class="container1content">
  Find A Doctor
</div>

<div class="case1">
  <div class="case1c">
    Name
    </div>
</div>
<div class="case2">
  <div class="case1c">
    Speciality
    </div>
</div>
<div class="av">
  Available
  </div>

  <div class="b1">
    <div class="b1c">
Search      </div>
    </div>

</div>


<div class="c2">
  <div class="c2c">
    Our results in numbers
     </div>


     <div class="c22">
      <div class="c2q">
<div class="c222">
  99%
</div>
<div class="c2p">
Customer satisfaction
</div>
</div>
<div class="c2q">
  <div class="c222">
    200
  </div>
  <div class="c2p">
  Infirmiers  </div>
  </div> <div class="c2q">
    <div class="c222">
      100
    </div>
    <div class="c2p">
Doctors    </div>
    </div>
     <div class="c2q">
      <div class="c222">
        10k
      </div>
      <div class="c2p">
Patients recovered      </div>
      </div>
      <div class="c2q">
        <div class="c222">
          240%
        </div>
        <div class="c2p">
  Company growth     </div>
        </div>
     </div>
  </div>

  <div class="c3">
    <div class="c3c">
      You have lots of reasons to choose us
    </div>
    <div class="c3cc">
      Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mollis sit aliquam sit nullam.    </div>

      <div class="b3">
        <div class="b3c">
Get started
        </div>      </div>
        <div class="i1">
        <img src="images\unsplash_msyQNw7AfJ0.png"  >
      </div>

    </div>

    <div class="c4">

      <div class="c4c">
        Services we provide
      </div>

      <div class="c4cc">
        Lorem ipsum dolor sit amet consectetur adipiscing elit semper dalar elementum tempus hac tellus libero accumsan.       </div>

    <div class="cc4">
      <div class="cc4i">
        <img src="images\Image Placeholder.png"  >
      </div>
        <div class="c4t">
          Dental treatments        </div>

      <div class="c4tt">
        Lorem ipsum dolor sit amet consecte tur adipiscing elit semper dalaracc lacus vel facilisis volutpat est velitolm.    </div>

    <div class="c44">
     Learn more
     <span class="material-icons"> arrow_forward</span>

    </div>

    </div>


    <div class="cc41">
      <div class="cc4i">
        <img src="images\Image Placeholder (1).png"  >
      </div>
        <div class="c4t">
          Bones treatments       </div>

      <div class="c4tt">
        Lorem ipsum dolor sit amet consecte tur adipiscing elit semper dalaracc lacus vel facilisis volutpat est velitolm.</div>

    <div class="c44">
     Learn more
     <span class="material-icons"> arrow_forward</span>
    </div>

    </div>


    <div class="cc42">
      <div class="cc4i">
        <img src="images\Image Placeholder (2).png"  >
      </div>
        <div class="c4t">
        Diagnosis       </div>

      <div class="c4tt">
        Lorem ipsum dolor sit amet consecte tur adipiscing elit semper dalaracc lacus vel facilisis volutpat est velitolm.</div>

    <div class="c44">
     Learn more
     <span class="material-icons"> arrow_forward</span>
    </div>

    </div>


    <div class="cc43">
      <div class="cc4i">
        <img src="images\Image Placeholder (3).png"  >
      </div>
        <div class="c4t">
          Cardiology      </div>

      <div class="c4tt">
        Lorem ipsum dolor sit amet consecte tur adipiscing elit semper dalaracc lacus vel facilisis volutpat est velitolm.</div>

    <div class="c44">
     Learn more
     <span class="material-icons"> arrow_forward</span>
    </div>

    </div>


    <div class="cc412">
      <div class="cc4i">
        <img src="images\Image Placeholder (4).png"  >
      </div>
        <div class="c4t">
          Surgery     </div>

      <div class="c4tt">
        Lorem ipsum dolor sit amet consecte tur adipiscing elit semper dalaracc lacus vel facilisis volutpat est velitolm.</div>

    <div class="c44">
     Learn more
     <span class="material-icons"> arrow_forward</span>
    </div>

    </div>



    <div class="cc45">
      <div class="cc4i">
        <img src="images\Image Placeholder (5).png"  >
      </div>
        <div class="c4t">
          Eye care    </div>

      <div class="c4tt">
        Lorem ipsum dolor sit amet consecte tur adipiscing elit semper dalaracc lacus vel facilisis volutpat est velitolm.</div>

    <div class="c44">
     Learn more
     <span class="material-icons"> arrow_forward</span>
    </div>


    </div>




  </div>
<div class="c5">
  <div class="c5c">
    Meet our great doctors
  </div>

  <div class="c5cc">
    Lorem ipsum dolor sit amet consectetur adipiscing elit volutpat gravida malesuada quam commodo id integer nam.  </div>

<div class="t5">
    <div class="c5i">

  <img src="images\image 18.png"  >


</div>

<div class="c5t">
 Nom du doctor
</div>
<div class="description">
  Medecin khgdnd jdb jdjbg    yvstvhf
</div>

</div>




<div class="t51">
  <div class="c5i">

<img src="images\image 18.png"  >


</div>

<div class="c5t">
Nom du doctor
</div>
<div class="description">
Medecin khgdnd jdb jdjbg    yvstvhf
</div>

</div>



<div class="t52">
  <div class="c5i">

<img src="images\image 18.png"  >


</div>


<div class="c5t">
Nom du doctor
</div>
<div class="description">
Medecin khgdnd jdb jdjbg    yvstvhf
</div>

</div>




  </div>

  <div class="c6">
    <div class="c6c">
      Avis de nos patients
    </div>
    <div class="c6cc">
      Lorem ipsum dolor sit amet consectetur adipiscing elit semper dalar elementum tempus hac tellus libero accumsan.     </div>
<div class="t6">
  <div class="i6">
  <img src="images\image 18.png"  >
</div>
<div class="css">
  “An amazing service”
</div>

<div class="texte">
  Lorem ipsum dolor sit ametolil col consectetur adipiscing lectus a nunc mauris scelerisque sed egestas.
</div>
<div class="texte1">
  John Carter
</div>
<div class="texte2">
  CEO at Google
</div>
</div>

<div class="t61">
  <div class="i6">
  <img src="images\image 18.png"  >
</div>
<div class="css">
  “An amazing service”
</div>

<div class="texte">
  Lorem ipsum dolor sit ametolil col consectetur adipiscing lectus a nunc mauris scelerisque sed egestas.
</div>
<div class="texte1">
  John Carter
</div>
<div class="texte2">
  CEO at Google
</div>
</div>


<div class="t62">
  <div class="i6">
  <img src="images\image 18.png"  >
</div>
<div class="css">
  “An amazing service”
</div>

<div class="texte">
  Lorem ipsum dolor sit ametolil col consectetur adipiscing lectus a nunc mauris scelerisque sed egestas.
</div>
<div class="texte1">
  John Carter
</div>
<div class="texte2">
  CEO at Google
</div>
</div>


    </div>


    <div class="c7">
      <div class="c7c">
        FAQ
      </div>

      <div class="c7cc">
        Lorem ipsum dolor sit amet consectetur adipiscing elit semper dalar elementum tempus hac tellus libero accumsan.       </div>




         <div class="td3">
          <div class="box">

            <div class="box1">
              <i class="fas fa-chevron-right">  </i> <!-- Flèche droite -->

              the quick fox jumps over the
              lazy dog
            </div>
            <div class="box2">
              Things on a very small scale
              behave like nothing
            </div>
          </div>
          <div class="box">

            <div class="box1">
              <i class="fas fa-chevron-right">  </i> <!-- Flèche droite -->

              the quick fox jumps over the
              lazy dog
            </div>
            <div class="box2">
              Things on a very small scale
              behave like nothing
            </div>
          </div>
          <div class="box">

            <div class="box1">
              <i class="fas fa-chevron-right">  </i> <!-- Flèche droite -->

              the quick fox jumps over the
              lazy dog
            </div>
            <div class="box2">
              Things on a very small scale
              behave like nothing
            </div>
          </div>

         </div>

      </div>







      <div class="c8">

           <div class="td3">
            <div class="box">

              <div class="box1">
                <i class="fas fa-chevron-right">  </i> <!-- Flèche droite -->

                the quick fox jumps over the
                lazy dog
              </div>
              <div class="box2">
                Things on a very small scale
                behave like nothing
              </div>
            </div>
            <div class="box">

              <div class="box1">
                <i class="fas fa-chevron-right">  </i> <!-- Flèche droite -->

                the quick fox jumps over the
                lazy dog
              </div>
              <div class="box2">
                Things on a very small scale
                behave like nothing
              </div>
            </div>
            <div class="box">

              <div class="box1">
                <i class="fas fa-chevron-right">  </i> <!-- Flèche droite -->

                the quick fox jumps over the
                lazy dog
              </div>
              <div class="box2">
                Things on a very small scale
                behave like nothing
              </div>
            </div>

           </div>

        </div>

        <div class="c9">

          <div class="td3">
           <div class="box">

             <div class="box1">
               <i class="fas fa-chevron-right">  </i> <!-- Flèche droite -->

               the quick fox jumps over the
               lazy dog
             </div>
             <div class="box2">
               Things on a very small scale
               behave like nothing
             </div>
           </div>
           <div class="box">

             <div class="box1">
               <i class="fas fa-chevron-right">  </i> <!-- Flèche droite -->

               the quick fox jumps over the
               lazy dog
             </div>
             <div class="box2">
               Things on a very small scale
               behave like nothing
             </div>
           </div>
           <div class="box">

             <div class="box1">
               <i class="fas fa-chevron-right">  </i> <!-- Flèche droite -->

               the quick fox jumps over the
               lazy dog
             </div>
             <div class="box2">
               Things on a very small scale
               behave like nothing
             </div>
           </div>

          </div>

       </div>




  <div class="footer">
    <div class="footerm">

    <div class="logo">
      <img src="images\Logo.png"  >

    </div>
  </div>

      <div class="footerc">
        <div class="footerbox">

        <div class="mainbox">
          Support
        </div>
        <div class="otherbox">
          Support
        </div>
    </div>


    <div class="footerbox">

      <div class="mainbox">
        Support
      </div>
      <div class="otherbox">
        Support
      </div>
  </div>

  <div class="footerbox">

    <div class="mainbox">
      Support
    </div>
    <div class="otherbox">
      Support
    </div>
</div>
  </div>



  </div>






</body>
</html>
