<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="menu.component.css" />
</head>
<body>
    <div class="box">
        <div class="rectangle">
            <div class="menu-logout">
                <div class="menu">
                    <!-- Profile, Dashboard, and other top-level items -->
                    <div class="frame" *ngIf="user?.role === 'adminCentral' ">
                        <div class="div"
                            
                            routerLink="/hopital" 
                            routerLinkActive="active" 
                            [routerLinkActiveOptions]="{ exact: true }">
              
                            <img class="img" src="assets/images/menu/profile.svg" />
                            <div class="frame-2">
                                <div class="text-wrapper">Hopitaux</div>
                            </div>
                          
                        </div>
                    </div>
                    
                    <div class="frame"*ngIf="user?.role === 'adminCentral' ">
                        <div class="div"
                        routerLink="/Dashboard" 
                        routerLinkActive="active" 
                        [routerLinkActiveOptions]="{ exact: true }">
                            <img class="img" src="assets/images/menu/dash.svg" />
                            <div class="frame-3">
                                
                                <div class="text-wrapper">Dashboard</div>
                            </div>
                        </div>
                    </div>
                    <div class="frame"*ngIf="user?.role === 'adminCentral' ||  user?.role === 'adminSys'||  user?.role === 'infermier' || user?.role === 'laborantin'|| user?.role === 'radiologue'">
                        <div class="div"
                        routerLink="/listpatient" 
                        routerLinkActive="active" 
                        [routerLinkActiveOptions]="{ exact: true }">
                        <img class="img" src="assets/images/menu/patients.svg" />
                            <div class="frame-3">
                                <div class="text-wrapper">Patients</div>
                            </div>
                        </div>
                    </div>

                    <!-- Parent menu item with submenu -->
                    <div class="frame menu-item-with-submenu"*ngIf="user?.role === 'adminCentral' ||  user?.role === 'adminSys'">
                        <div class="div" (click)="toggleSubmenu($event)">
                            <img class="img" src="assets/images/menu/mdc.svg" />
                            <div class="text-wrapper">Médecins</div>
                            <i class="fa fa-angle-down" aria-hidden="true"></i>                       </div>
                        <div class="submenu" *ngIf="submenuVisible">
                            <div class="frame">
                                
                                <div class="div-wrapper"
                                routerLink="/listmedecin" 
                                routerLinkActive="active" 
                                [routerLinkActiveOptions]="{ exact: true }">
                                    <div class="text-wrapper-2">General</div>
                                </div>
                            </div>
                            <div class="frame">
                                <div class="div-wrapper"
                                routerLink="/listradiologue" 
                                routerLinkActive="active" 
                                [routerLinkActiveOptions]="{ exact: true }">
                                    <div class="text-wrapper-2">Radiologues</div>
                                </div>
                            </div>
                            <div class="frame">
                                <div class="div-wrapper"
                                routerLink="/listlaborantin" 
                                routerLinkActive="active" 
                                [routerLinkActiveOptions]="{ exact: true }">
                                    <div class="text-wrapper-2">Laborantins</div>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="frame" *ngIf="user?.role === 'adminCentral' ||  user?.role === 'adminSys'">
                        <div class="div"
                        routerLink="/listinfermier" 
                        routerLinkActive="active" 
                        [routerLinkActiveOptions]="{ exact: true }">
                        <img class="img" src="assets/images/menu/patients.svg" />
                            <div class="frame-3">
                                <div class="text-wrapper">Infermiers</div>
                            </div>
                        </div>
                    </div>
                    

                    <div class="frame" *ngIf="user?.role === 'medecin' || user?.role === 'laborantin'|| user?.role === 'radioloque'|| user?.role === 'infermier'">
                        <div class="div"
                            
                            routerLink="/profileadmin" 
                            routerLinkActive="active" 
                            [routerLinkActiveOptions]="{ exact: true }">
              
                            <img class="img" src="assets/images/menu/profile.svg" />
                            <div class="frame-2">
                                <div class="text-wrapper">Profile</div>
                            </div>
                          
                        </div>
                    </div>
                    <div  *ngIf="user?.role === 'patient' ">

                        <div class="frame" *ngIf="user?.role === 'patient' ">
                            <div class="div"
                                
                                routerLink="patient-profile/:{{ user?.id }}" 
                                routerLinkActive="active" 
                                [routerLinkActiveOptions]="{ exact: true }">
                
                                <img class="img" src="assets/images/menu/profile.svg" />
                                <div class="frame-2">
                                    <div class="text-wrapper">Profile</div>
                                </div>
                            
                            </div>
                        </div>
                                
                        
                   </div>
                   <div class="frame" *ngIf="user?.role === 'adminSys' || user?.role === 'medecin'|| user?.role === 'laborantin' || user?.role === 'radioloque' || user?.role === 'infermier'">
                        <div class="div"
                            
                            routerLink="/listdpi" 
                            routerLinkActive="active" 
                            [routerLinkActiveOptions]="{ exact: true }">
            
                            <img class="img" src="assets/images/menu/profile.svg" />
                            <div class="frame-2">
                                <div class="text-wrapper">Dossier Médicaux</div>
                            </div>
                        
                        </div>
                   </div>
                   <div class="frame" *ngIf="user?.role === 'laborantin' ">
                    <div class="div"
                        
                        routerLink="generer_graphe" 
                        routerLinkActive="active" 
                        [routerLinkActiveOptions]="{ exact: true }">
        
                        <img class="img" src="assets/images/menu/profile.svg" />
                        <div class="frame-2">
                            <div class="text-wrapper">Generer Graphe</div>
                        </div>
                    
                    </div>
                    
                </div>
                   

                   

                    <!-- Logout -->
                    
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>
