<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Numéro de Sécurité Sociale</th>
                <th>Date de Naissance</th>
                <th>Adresse</th>
                <th>Téléphone</th>
                <th>Mutuelle</th>
                <th>Hôpital</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let laborantin of laborantins">
                <td>{{ laborantin.id }}</td>
                <td>{{ laborantin.role }}</td>
                <td>{{ laborantin.NSS }}</td>
                <td>{{ laborantin.laboratinService | date:'dd/MM/yyyy' }}</td>
                <td>{{ laborantin.adresse }}</td>
                <td>{{ laborantin.telephone }}</td>
                <td>{{ laborantin.mutuelle }}</td>
                <td>{{ laborantin.hopital }}</td>
                <td class="actions-cell">
                   <!-- <i class="fas fa-edit" (click)="editlaborantin(laborantin.id)"></i>
                    <i id="delete" class="fas fa-trash" (click)="deletelaborantin(laborantin.id)"></i>-->

                    <i class="fas fa-edit"></i>
                    <i id="delete" class="fas fa-trash"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>