<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Afficher un Mot</title>
    <link rel="stylesheet" href="./contact.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>
<body>
<div class="cadre">
  <div class="cadre">
    <div class="cadrelogo">

      <img src="images\WellMed (5) 1.png"  >
      <img src="images\WellMed (5) 1 (1).png"  >


    </div>
    <div class="menu1">
      <div class="insidemenu1" (click)="gotoHome()">
        Home
        <div class="khat">
        </div>
      </div>
      <div class="insidemenu11">
        Service
      </div>
      <div class="insidemenu11">
      Help
      </div>


    </div>

    </div>


    <div class="login">
    <div class="loginn" (click)="goToLogin()">
    Login
    </div>
    </div>
<div class="i">
  <img src="images\une.png"  >

</div>

<div class="c1">
  <div class="c1c">

    <div class="c1cc">
      Get In Touch
    </div>
    <div class="c1cc1">
      Contact Us
    </div>
<div class="c1cc2">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</div>

  </div>



</div>

<div class="c2">
  <div class="c2i">
<div class="c2ii">
  <div class="t1">
    First name
  </div>
  <div class="box2">
    <div class="underbox2">
      Enter your first name
    </div>
</div>

  </div>

  <div class="c2ii">
    <div class="t1">
      Last name
    </div>
    <div class="box2">
      <div class="underbox2">
        Enter your last name
      </div>
  </div>

    </div>

</div>



<div class="c2i">
  <div class="c2ii">
    <div class="t1">
      <Em></Em>mail
    </div>
    <div class="box2">
      <div class="underbox2">
        Enter your email
      </div>
  </div>

    </div>

    <div class="c2ii">
      <div class="t1">
Phone number      </div>
      <div class="box2">
        <div class="underbox2">
Enter your phone number        </div>
    </div>

      </div>

  </div>


  <div class="col">
    <div class="colc">
      Choose a topic
    </div>
    <div class="box3">
      <div class="underbox2">
      Select one ...
</div>
    </div>
  </div>

  <div class="col4">
    <div class="colc">
      Choose a topic
    </div>
    <div class="box4">
      <div class="underbox2">
Type your message
  </div>
    </div>
  </div>


  <div class="boxf">
    <div class="fboxc">

    </div>
    <div class="underbox2">
I accept the terms        </div>


  </div>
  <div class="button">
    <div class="loginn">
      Sbmit
        <i class="fas fa-arrow-right"></i>

      </div>

  </div>

  </div>



  <div class="footer">
    <div class="footerm">

    <div class="logo">
      <img src="images\Logo.png"  >

    </div>
  </div>

      <div class="footerc">
        <div class="footerbox">

        <div class="mainbox">
          Support
        </div>
        <div class="otherbox">
          Support
        </div>
    </div>


    <div class="footerbox">

      <div class="mainbox">
        Support
      </div>
      <div class="otherbox">
        Support
      </div>
  </div>

  <div class="footerbox">

    <div class="mainbox">
      Support
    </div>
    <div class="otherbox">
      Support
    </div>
</div>
  </div>



  </div>



</div>
</body>
</html>
