<div class="MainContainer">
    <div class="container1">
        <div class="MedIcone">
            <img src="../../../../assets/images/medcinIcone1.png" alt="med1">
        </div>
        <div class="UserInfo">
            <div class="LogInTitle">
                <p> Login to your Account</p>
            </div>
            <button class="ContinueGoogle">
                <img src="../../../../assets/images/GoogleIcone.png" alt="">
                <p> Continue with google</p>
            </button>
            <a href="#" class="signIn">
                ------------- or Sign in with Email -------------
            </a>
            <div class="NamePassword">
                <div class="Input">
                    <p class="InputTitle">Email</p>
                    <input class="InputField" type="text" placeholder="Username">
                </div>
                <div class="Input">
                    <p class="InputTitle" id="password">Password</p>
                    <input class="InputField" type="password" placeholder="Password">
                </div>
                <div class="ForgotPassword">
                    <a href="#">
                        <p> Forgot Password ?</p>
                    </a>
                </div>
            </div>
            <button class="LoginNowButton"> Login</button>
            <div class="NotRegistered">
                <p id="register">Not Registered Yet?</p>
                <a href="#" id="createAccount">
                    <p>Create an account</p>
                </a>
            </div>
        </div>

    </div>
    <div class="container2">
        <img src="../../../../assets/images/logo.png" alt="" class="logo">
    </div>
</div>