
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    
    <link rel="stylesheet" href="listlaborantin.component.css" />

  </head>
  <body>
            <div class="container mt-5">
            <div class="frame">
                <div class="div-wrapper">
                <div class="text-wrapper">Liste des Laborantins</div>
                </div>
              
            </div>
            <app-table-laborantins></app-table-laborantins>
            </div>

            <div style="padding: 30px;" class="div">
               </div>
  <body>
    <html>
