body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    /* pour empiler les elempents verticalement*/
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--colorVert2);
    height: 100vh;
    transition: background-color 1s ease, transform 1s ease;
}

.logo {
    width: 600px;
    height: 600px;
    transition: opacity 1s ease;
}

.buttonLogin {
    background: #F5F5F5;
    border: 5px solid var(--colorVert2);
    border-radius: 80px;
    transition: opacity 1s ease;


    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 37px;
    text-align: center;
    color: var(--colorVert2);
    width: 500px;
    height: 80px;

}