<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Bilan</title>
</head>
<body>
    <h1>Create Bilan for Consultation</h1>

    <h2>Options</h2>
    <form method="POST" action="{% url 'ajouter_consultation' consultation.id %}"">
        {% csrf_token %}
        {% if can_create_biologique %}
            <button type="submit" name="bilan_type" value="biologique">Create Biologique Bilan</button>
        {% endif %}
        {% if can_create_radiologique %}
            <button type="submit" name="bilan_type" value="radiologique">Create Radiologique Bilan</button>
        {% endif %}
    </form>

    <a href="{% url 'consultation_detail' consultation.id %}">Back to Consultation</a>
</body>
</html>
