<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter Consultation</title>
    <style>
        .button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            color: #fff;
            background-color: #007BFF;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            margin: 10px;
            cursor: pointer;
        }
        .button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <form method="POST" action="{% url 'ajouter_consultation' dpi.id %}">
        {% csrf_token %}
        <label for="date">Date de Consultation</label>
        <input type="date" id="date" name="date" required>
    
        <p>Veuillez choisir une option pour la consultation :</p>
        <label for="type">Type</label>
        <select id="type" name="type" required>
            <option value="Diagnostic">Diagnostic</option>
            <option value="Bilan">Bilan</option>
        </select>
        <button type="submit" class="button">Ajouter</button>
    </form>    
</body>
</html>
