<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create DPI</title>
    <script>
        function addForm() {
            var formCount = document.getElementById("id_form-TOTAL_FORMS").value;
            var newForm = document.getElementById("form-0").cloneNode(true);

            var inputs = newForm.querySelectorAll("input, textarea");
            inputs.forEach(input => {
                input.name = input.name.replace("-0-", `-${formCount}-`);
                input.id = input.id.replace("-0-", `-${formCount}-`);
                input.value = "";
            });

            newForm.id = "form-" + formCount;
            document.getElementById("formset-container").appendChild(newForm);
            document.getElementById("id_form-TOTAL_FORMS").value = parseInt(formCount) + 1;
        }
    </script>
</head>
<body>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
    <h1>Create DPI</h1>

    <form method="post">
        {% csrf_token %}

        <!-- DPI Form -->
        <div>
            <h2>Attribuer un patient{% if request.user.role == 'adminSys' %} et un médecin{% endif %}</h2>
            <div id = "patient" >  
                {{ dpi_form.patient }}
            </div>
            {% if request.user.role == 'adminSys' %}
            <div id = "medecin" >  
                {{ dpi_form.medecin }}
            </div>
            {% endif %}
        </div>        

        <!-- Antecedents Formset -->
        <div id="formset-container">
            {{ formset.management_form }}
            {% for form in formset %}
                <div class="form-row" id="form-{{ forloop.counter0 }}">
                    {{ form.as_p }}
                </div>
            {% endfor %}
        </div>

        <button type="button" onclick="addForm()">Add Antecedent</button>
        <button type="submit">Save DPI</button>
    </form>

    <!-- Display QR Code -->
    <div class="qr-img">
        {% if dpi_form.instance.QR_Code %}
            <img src="{{ dpi_form.instance.QR_Code.url }}" alt="QR Code">
        {% endif %}
    </div>
</body>
</html>
