<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Afficher un Mot</title>
    <link rel="stylesheet" href="./menu.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>

  <div class="frame">
<div class="contenaire">
<div class="exit">
         <i class="fas fa-sign-out-alt"></i>
</div>
<div class="frame2">
    <div class="menu">
      <i class="fas fa-edit"></i> Modifier
    </div>
  </div>

  <div class=" frame2">
     <div class="menu">
      <i class="fas fa-trash"></i> Supprimer
      </div>

     </div>
</div>
</div>

</body>
</html>
