<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Numéro de Sécurité Sociale</th>
                <th>Date de Naissance</th>
                <th>Adresse</th>
                <th>Téléphone</th>
                <th>Mutuelle</th>
                <th>Hôpital</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let radiologue of radiologues">
                <td>{{ radiologue.id }}</td>
                <td>{{ radiologue.role }}</td>
                <td>{{ radiologue.nss }}</td>
                <td>{{ radiologue.dateDeNaissance | date:'dd/MM/yyyy' }}</td>
                <td>{{ radiologue.adresse }}</td>
                <td>{{ radiologue.telephone }}</td>
                <td>{{ radiologue.mutuelle }}</td>
                <td>{{ radiologue.hopital }}</td>
                <td class="actions-cell">
                    <i class="fas fa-edit" (click)="editradiologue(radiologue.id)"></i>
                    <i id="delete" class="fas fa-trash" (click)="deleteradiologue(radiologue.id)"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>