.personnesListe {
    margin-top: 0px;
}

.personnesDpi,
.datedebutfin {
    display: flex;
    gap: 20px;
}

.personnesDpi .field,
.datedebutfin .field {
    flex: 1;
}

@media (max-width: 768px) {

    .personnesDpi,
    .datedebutfinl {
        flex-direction: column;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 1000px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.field {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: #FFFFFF;

}

.field label,
.field div label {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #464748;
}

.field input[readonly],
.personnesListe {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #86929E;
    background: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    border: 0.5px solid #EFF0F2;
}

.nom-prenom,
.tel-email,
.date-naissance-adresse,
.mutuelle-hospital {
    display: flex;
    gap: 20px;
}

.nom-prenom .field,
.tel-email .field,
.date-naissance-adresse .field,
.mutuelle-hospital .field {
    flex: 1;
}

@media (max-width: 768px) {

    .nom-prenom,
    .tel-email,
    .date-naissance-adresse,
    .mutuelle-hospital {
        flex-direction: column;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    /* Taille réduite de la fenêtre */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.button-container {
    position: absolute;
    top: 80px;
    right: 330px;
}

.fas.fa-edit {
    cursor: pointer;
}


.button-container i {

    color: var(--colorNavTex);
    transition: color 0.3s ease;
}

.button-container i:hover {
    color: var(--colorVert1);
}

.field input {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #86929E;
    background: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    border: 0.5px solid #EFF0F2;
}

.butSaveCancel {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
}

button {
    box-shadow: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    text-align: inherit;
    cursor: pointer;
}


.butSaveCancel button {
    background-color: var(--colorVert1);
    color: white;
    text-align: center;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 28px;
    gap: 10px;
    width: 100px;
    height: 40px;


}

#cancel {
    background-color: white;
    color: var(--colorVert1);
    border: 1px solid #EFF0F2;

}

.personnesListe li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    align-items: center;
    margin-bottom: 10px;
}

.addContact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    align-items: center;
    margin-bottom: 10px;
}

.personnesListe input {
    display: flex;
}

.icon-add {
    font-size: 18px;
    color: var(--colorNavTex);
    cursor: pointer;
    margin-top: 5px;
    display: inline-block;
}

.icon-remove {
    font-size: 18px;
    color: var(--colorNavTex);
    cursor: pointer;
}

.icon-add:hover {
    color: var(--colorVert1);
}

.icon-remove:hover {
    color: red;
}

.modifandadd {
    display: flex;
}